<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Object Oriented Technologies</display-name>

    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.toproject.services</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowTablesList</servlet-name>
        <servlet-class>com.toprojekt.webapp.ShowTablesListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowTablesList</servlet-name>
        <url-pattern>/ShowTablesList/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowColumnsList</servlet-name>
        <servlet-class>com.toprojekt.webapp.ShowColumnsListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowColumnsList</servlet-name>
        <url-pattern>/ShowColumnsList/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowTableContent</servlet-name>
        <servlet-class>com.toprojekt.webapp.ShowTableContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowTableContent</servlet-name>
        <url-pattern>/ShowTableContent/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowRecordById</servlet-name>
        <servlet-class>com.toprojekt.webapp.ShowRecordByIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowRecordById</servlet-name>
        <url-pattern>/ShowRecordById/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddToTableResult</servlet-name>
        <servlet-class>com.toprojekt.webapp.AddRecordToTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToTableResult</servlet-name>
        <url-pattern>/AddToTableResult/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateInTableResult</servlet-name>
        <servlet-class>com.toprojekt.webapp.UpdateRecordInTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateInTableResult</servlet-name>
        <url-pattern>/UpdateInTableResult/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteFromTableResult</servlet-name>
        <servlet-class>com.toprojekt.webapp.DeleteRecordFromTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFromTableResult</servlet-name>
        <url-pattern>/DeleteFromTableResult/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
